
    h1 {
      color: #ed1b24;
    }

    img {
      height: 600px;
      width: 400px;
    }

    #thirdDiv {
      height: 600px;
      width: 500px;
      background-color: rosybrown;
      border : 1px solid black;
      padding: 50px 
    }

    #spanId {
      font-size: 18px;
      margin: 50px;
    }
