
    h1 {
      color: #ed1b24;
    }

    img {
      height: 600px;
      width: 400px;
    }

    #thirdDiv {
      height: 600px;
      width: 500px;
      background-color: rgb(143, 188, 147);
      
      padding: 50px ;
      border : 1px solid black;
    }

    #spanId {
      font-size: 18px;
      margin: 50px;
    }
